.buttonTheme {
  width: 13rem;
  position: absolute;

  background-color: var(--bg-icon-theme-dark);
  border: none;
  border-radius: 3.2rem;
  padding: 0.4rem 0.5rem;

  transition: opacity 0.25s ease;
}

.buttonTheme:hover {
  cursor: pointer;
}

.content {
  display: flex;
  align-items: center;
  background-color: var(--bg-icon-theme-light);
  border-radius: 3.2rem;
  padding: 0.2rem 0.6rem;
}

.iconTheme {
  color: var(--color-icon-theme);
  background-color: var(--bg-icon-theme);
  border-radius: 50%;
  padding: 0.7rem;

  transition: transform 0.35s ease;
}

.hiddenLight,
.hiddenDark {
  opacity: 0;
  pointer-events: none;
}

.textTheme {
  width: 100%;
  color: #fff;
  font-size: 1.8rem;
}

.hidden {
  opacity: 0;
  transform: translateY(-4px) scale(0.95);
  pointer-events: none;
}

.visible {
  opacity: 1;
  pointer-events: auto;
}

.hiddenLight .iconTheme {
  transform: translateX(4.8rem);
}

.hiddenDark .iconTheme {
  transform: translateX(-4.8rem);
}
