.card {
  background-color: var(--bg-card);
  border: 1px solid var(--color-border-card);
  padding: 4.5rem 4rem 3.5rem;
  border-radius: 2.8rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}
