.imcHeader {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  margin: 6.2rem 0 4rem;
}

.title {
  color: var(--color-fc-primary);
  font-size: 3.8rem;
  font-family: "Inter", sans-serif;
  font-weight: bold;
}

.subtitle {
  color: var(--color-fc-tertiary);
  font-size: 1.8rem;
}
