.cardResult {
  display: flex;
  margin: 6rem 0;
  border-radius: 2.8rem;
  border: 1px solid var(--color-border-card);
}

.resultImcContent {
  width: 50rem;
  border-radius: 2.8rem 0 0 2.8rem;
  padding: 4.5rem;
  color: var(--color-fc-secondary);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
}

.resultImcContent p {
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.resultImc {
  font-family: "Inter", sans-serif;
  font-size: 7.1rem;
  font-weight: 600;
  line-height: 3rem;
}

.classificationImc {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: #ffffff27;
  padding: 1rem 2rem;
  border-radius: 3.6rem;
  align-self: center;
}

.cardResultText {
  width: 100%;
  padding: 5rem 4.2rem;
}

.line {
  display: grid;
  grid-template-columns: 1fr 1.8fr 1.5fr 2fr;
}

.line span {
  height: 2.1rem;
}

.lowColor {
  background-color: var(--bg-lowerLine-color);
}

.normalColor {
  background-color: var(--bg-normalLine-color);
}

.overweightColor {
  background-color: var(--bg-overweightLine-color);
}

.obesityColor {
  background-color: var(--bg-obesityLine-color);
}

.line span:first-child {
  border-radius: 1rem 0 0 1rem;
}

.line span:last-child {
  border-radius: 0 1rem 1rem 0;
}

.cardResultTitle {
  color: var(--color-fc-primary);
  font-size: 2rem;
  letter-spacing: 10%;
  font-weight: 600;
  margin: 4rem 0 1.5rem;
}

.cardResultTips {
  color: var(--color-fc-tertiary);
  font-size: 2rem;
  line-height: 2.5rem;
}
