body {
  background-color: #fafafa;
  height: 100vh;
  font-size: 1.6rem;
}

.container {
  padding: 0 11rem;
}

.contentLayoutGrid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 3.3rem;
}

.actionsContainer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: auto;
  gap: 1.7rem;
}
