body {
  height: 100vh;
  font-size: 1.6rem;
}

.main {
  background-color: var(--bg-body);
}

.container {
  padding: 0 11rem;
}

.contentLayoutGrid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 3.3rem;
}

.sectionTitle {
  color: var(--color-fc-primary);
  font-size: 1.8rem;
  font-family: "Inter", sans-serif;
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 3rem;
}

.sectionTitle span {
  color: #19aea2;
}

.actionsContainer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: auto;
  gap: 1.7rem;
}

.info {
  color: var(--color-fc-tertiary);
  font-size: 1.6rem;
  margin-top: 3rem;
  text-align: justify;
  line-height: 2.6rem;
}
